<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Issue Tracker - Create Issue</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
  <a href="/"><button id="Home">Home</button></a>

  <h1>Create an Issue for <%= project.name %></h1>
  <form action="/project/<%= project.id %>/create-issue" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required><br>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" required><br>
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" required><br>
    <label for="labels">Labels (comma-separated):</label>
    <input type="text" name="labels" id="labels"><br>
    <p></p>
    <input type="submit" value="Create">
  </form>
</body>
</html>
