/* assets/css/style.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0;
  text-align: center;
  font-size: 28px;
  color: #555;
}

a {
  text-decoration:underline;
  color: #007bff;
  align-self: start;
}

table {
  margin: 5%;
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 10vh;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {

  background-color: #f8f9fa;
  font-weight: bold;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.home {
  padding: 10px 16px;
  background-color: #ff0066;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button {
  padding: 10px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button:hover {
  background-color: #0069d9;
}

.error-message {
  color: red;
}

/* Custom Styles for Issue Tracker */
.project-detail-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.issue-table {
  margin-top: 20px;
}

.create-issue-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-issue-form label {
  font-weight: bold;
}

 input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 input[type="submit"]:hover {
  background-color: #0069d9;
}

#new_project{
  justify-content: center;
}